<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mental.mentalwellness">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MentalWellness">

        <service
            android:name=".TherepySection.Notification"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <activity
            android:name=".TherepySection.BookASlot"
            android:exported="false" />
        <activity
            android:name=".TherepySection.profile_page1"
            android:exported="false" />
        <activity
            android:name=".TherepySection.MainActivity2"
            android:exported="false" />
        <activity
            android:name=".TherepySection.MainActivity3"
            android:exported="false" />
        <activity
            android:name=".TherepySection.landing_page"
            android:exported="false" />
        <activity
            android:name=".TherepySection.TherepyActivity"
            android:exported="false" />
        <activity
            android:name=".Tharapytemp"
            android:exported="false" />
        <activity
            android:name=".TherapistActivity"
            android:exported="false" />
        <activity
            android:name=".EditMemory"
            android:exported="false" />
        <activity
            android:name=".ClickOnFeeling.CommonForAllFeelings.BeforeSolution"
            android:exported="false" />
        <activity
            android:name=".DislikedFeedback"
            android:exported="false" />
        <activity
            android:name=".StopWatch"
            android:exported="false" />
        <activity
            android:name=".LIkedFeedback"
            android:exported="false" />
        <activity
            android:name=".EmotionFeedback"
            android:exported="false" />
        <activity
            android:name=".SavedMemory"
            android:exported="false" />
        <activity
            android:name=".CreateMemory"
            android:exported="false" />
        <activity
            android:name=".Surprised"
            android:exported="false" />
        <activity
            android:name=".LovedActivity"
            android:exported="false" />
        <activity
            android:name=".JoyActivity"
            android:exported="false" />
        <activity
            android:name=".ClickOnFeeling.CommonForAllFeelings.ChoosWhatYouEnjoy"
            android:exported="false" />
        <activity
            android:name=".ClickOnFeeling.ClickOnFear.DepthOfFearlevel1.Level2.Horror"
            android:exported="false" />
        <activity
            android:name=".ClickOnFeeling.ClickOnAngry.DepthOfAngryLavel1.Level2.Disgust"
            android:exported="false" />
        <activity
            android:name=".ClickOnFeeling.ClickOnAngry.DepthOfAngryLavel1.Level2.Envy"
            android:exported="false" />
        <activity
            android:name=".ClickOnFeeling.ClickOnAngry.DepthOfAngryLavel1.Level2.Exasperated"
            android:exported="false" />
        <activity
            android:name=".ClickOnFeeling.ClickOnAngry.DepthOfAngryLavel1.Level2.Irritable"
            android:exported="false" />
        <activity
            android:name=".ClickOnFeeling.ClickOnAngry.DepthOfAngryLavel1.Level2.Rage"
            android:exported="false" />
        <activity
            android:name=".ClickOnFeeling.ClickOnFear.DepthOfFearlevel1.Level2.Scared"
            android:exported="false" />
        <activity
            android:name=".ClickOnFeeling.ClickOnFear.DepthOfFearlevel1.Level2.Nervous"
            android:exported="false" />
        <activity
            android:name=".ClickOnFeeling.ClickOnFear.DepthOfFearlevel1.Level2.Insecure"
            android:exported="false" />
        <activity
            android:name=".ClickOnFeeling.ClickOnFear.DepthOfFearlevel1.Level2.Terror"
            android:exported="false" />
        <activity
            android:name=".ClickOnFeeling.ClickOnSad.DepthOfEmotionLevel1.Level2.Suffring"
            android:exported="false" />
        <activity
            android:name=".ClickOnFeeling.CommonForAllFeelings.LastActivity"
            android:exported="false" />
        <activity
            android:name=".ClickOnFeeling.ClickOnSad.DepthOfEmotionLevel1.Level2.Despair"
            android:exported="false" />
        <activity
            android:name=".ClickOnFeeling.ClickOnSad.DepthOfEmotionLevel1.Level2.Neglected"
            android:exported="false" />
        <activity
            android:name=".ClickOnFeeling.ClickOnSad.DepthOfEmotionLevel1.Level2.Shameful"
            android:exported="false" />
        <activity
            android:name=".ClickOnFeeling.ClickOnSad.DepthOfEmotionLevel1.Level2.Disappointed"
            android:exported="false" />
        <activity
            android:name=".ClickOnFeeling.ClickOnSad.DepthOfEmotionLevel1.Level2.Upset"
            android:exported="false" />
        <activity
            android:name=".ClickOnFeeling.ClickOnSad.DepthOfEmotionLevel1.SadLevel1"
            android:exported="false" />
        <activity
            android:name=".ClickOnFeeling.ClickOnAngry.DepthOfAngryLavel1.AngryLevel1"
            android:exported="false" />
        <activity
            android:name=".ClickOnFeeling.ClickOnFear.DepthOfFearlevel1.FearLevel1"
            android:exported="false" />
        <activity
            android:name=".ClickOnFeeling.ClickOnAngry.QuestionAngryActivity"
            android:exported="false" />
        <activity
            android:name=".ClickOnFeeling.ClickOnFear.QuestionFearActivity"
            android:exported="false" />
        <activity
            android:name=".ClickOnFeeling.CommonForAllFeelings.AfterLastQuestionActivity"
            android:exported="false" />
        <activity
            android:name=".ClickOnFeeling.ClickOnSad.QuesionsSadActivity"
            android:exported="false" />
        <activity
            android:name=".ClickOnFeeling.CommonForAllFeelings.ReasonOfFeeling"
            android:exported="false" />
        <activity
            android:name=".ClickOnFeeling.CommonForAllFeelings.IfContinueWithFeeling"
            android:exported="false" />
        <activity
            android:name=".jogg"
            android:exported="false" />
        <activity
            android:name=".termsAndCondition"
            android:exported="false" />
        <activity
            android:name=".letter"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".cohort_feedback"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".addFeed"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feed"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".cohort"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddNoteActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".recordActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ytEmbbed"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Releaf"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".lemonAndCinammonJuice"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".breathInBreathOut"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".negativeDirectPage"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feedback"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".editProfile"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".positiveDirectPage"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OtpVerifyRegister"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HomePage"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginViaPhoneNumber"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WelcomePage"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OtpVerify"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Register"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Journal"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Food_options"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Exercise"
            android:screenOrientation="portrait" />
        <activity
            android:name=".YoutubeVideo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>